# Raw data — too large for GitHub
data/raw/

# R session files
.Rhistory
.RData
.Rproj.user/

# Python
__pycache__/
.ipynb_checkpoints/
*.pyc

# macOS
.DS_Store
data/processed/norm_expr_matrix.csv
data/processed/norm_expr_matrix.rds
data/processed/metadata.rds
